:root {
  --mainBGColor: rgb(18, 23, 36);
  --navBtnColor: #41aaa9;
  --navBtnHoverColor: #21baba;
  --titleTxtColor: #fceee7;
  --bodyTextColor: #000000;
  --fieldBGColor: #ffffff;
  --dkBkgTextColor: #ffffff;
  --linkBkgColor: rgb(65, 170, 169);
  
  color: var(--bodyTextColor);
  font-family: forma-djr-micro, sans-serif;
  line-height: normal;
  font-weight: 500;
  font-size: 16px;
  
  background-color: var(--mainBGColor);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Home Layout */
/* Layout settings */
header {
  height: 15vw;
  width: 90vw;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  top: 0;
  margin: 0 auto;
}
main {
  display: flex;
  flex-flow: row nowrap;
  height: 85vh;
  width: 90vw;
  margin: 0 auto;
}
.layout {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
}
.homeNav{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 75%;
}
.title{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 75%;  
  padding: 0 4vw;
}

/* Link/Button settings */
a, button{
  font-size: calc(8pt + 2vw);
  color: var(--dkBkgTextColor);
  text-decoration: none;
  margin: 0.5vw 1vw;  
  border-style: none double none double;
  border-color: var(--dkBkgTextColor);
  border-radius: 0.5vw;
  padding: 0.5vw 1vw;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
  -webkit-transition: background-image 0.5s, border-style 0.5s, border-width 0.25s, border-bottom-color 0.25s, background-color 0.1s;
  transition: background-image 0.5s, border-style 0.5s, border-width 0.25s, border-bottom-color 0.25s, background-color 0.1s;
}
a:hover,
button:hover{
  border-style: none solid solid solid;
  border-bottom-width: 0.1vw;
  border-bottom-color: var(--linkBkgColor);
  background-image: linear-gradient(transparent, var(--linkBkgColor));
}
a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  background-color: var(--linkBkgColor);
}

/* Menu settings */
.menu {
  display: flex;
  flex-flow: column nowrap;
  width: 15vw;
  min-width: fit-content;
}

/* Text settings */
h1 {
  font-family: kallisto, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: calc(16pt + 5vw);
  margin: 0;
  padding: 0;
  color: var(--titleTxtColor);
}

h2 {
  color: var(--titleTxtColor);
  font-size: calc(14pt + 4vw);
}

h3 {
  font-size: calc(12pt + 3vw);
  margin: 0;
  padding: 0;
  color: var(--titleTxtColor);
}

/* Form/Chat settings */
.formGroup {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
.chatSubmit {
  color: black;
  border: none;
  margin: 0;
  border-radius: 22px;
}
.chatSubmit:hover {
  border: none;
}
.chatGroup form{
  display: inline-block;
  background-color: var(--fieldBGColor);
  border-radius: 22px;
}
input {
  border-radius: 22px;
  border: 1px solid transparent;
  padding: 12px 18px;
  margin: 4px;
  font-size: calc(8pt + 2vw);
}

textarea, input{
  outline: none;
  border: none;
  resize: none;
}

/* Responsive UI */

@media only screen and (max-width: 786px) {
  .menu {
    flex-direction: row;
    min-width: 100%;
  }
  main {
    flex-direction: column;
  }
}

.userInput{
  background-color:#fceee7;
  border-radius: 22px;
  padding:10px;
  margin: 10px;
}

.chatBotResponse{
  background-color: white;
  border-radius: 22px;
  padding:10px;
  margin: 10px;
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/* Spinner animation */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.spinner-container p {
  margin-left: 10px;
  color: #fceee7;
  font-size: 25px;
}

.load-spinner {
  width: 25px;
  height: 25px;
  /* border and bordertop take care of the color of the spinner */
  border: 10px solid var(--titleTxtColor);
  border-top: 10px solid black;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

